:root {
  --text-color: #D8DCF6;
  --box-color: #131520;
}
* {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover, a:active { color: white; }
#divPages:hover #divLinks > a { display: block; }
#divBlur {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(7, 7, 7);
  z-index: 2;
}
#divPopUp {
  display: none;
}
#divPopUp > img {
  display: inherit;
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
  z-index: 3;
  border: 1px solid white;
  background-color: white;
}
audio {
  display: none;
}
#divTop {
  background-color: var(--box-color);
  color: rgb(216,220,246);
  position: fixed;
  width: 100%;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.divFlex > div > img {
  max-height: 40vh;
  max-width: 95%;
  width: auto;
  height: auto;
  border-radius: 5%;
  border: 1vw solid rgb(44, 44, 44);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#divSources {
  margin: 0% 12.5%;
  text-align: center;
}
@media screen and (max-width: 699px) {
  #divMusic > img {
    width: 6.5vw;
    position: absolute;
    top: 4vw;
    right: 8.5vw;
  }
  #divMusic > input {
    position: absolute;
    top: 11.5vw;
    right: 10vw;
    width: 3vw;
    height: 3vw;
  }
  #divSourcePlaceHolder {
    height: 11vw;
  }
  #divSources > p {
    font-size: 3vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    line-height: 3.3vw;
  }
  #divSources > h1 {
    font-size: 3.5vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    margin-bottom: 1vw;
  }
  #txtSource {
    width: 100%;
    font-family: georgia, serif;
    font-size: 2.5vw;
    color: lightslategray;
    text-align: center;
    padding: 2vw 0px;
    background-color: #131520;
    position: fixed;
    bottom: 0px;
  }
  .divFlex > div > p {
    font-size: 3vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    line-height: 3.3vw;
  }
  .divFlex > div > h1 {
    font-size: 3.5vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    margin-bottom: 1vw;
  }
  .elementTop {
    display: inline-block;
    font-size: 4vw;
    margin: 0vw;
  }
  #txtTitle {
    font-size: 7vw;
    padding: 5% 0% 1% 8%;
    width: 95%;
    text-align: center;
  }
  #divLinks {
    position: absolute;
    width: 100%;
    margin-left: -5%;
  }
  #imgCatLogo {
    width: 10%;
    border-radius: 10%;
    margin: 3% 0% 0% 15%;
    position: fixed;
  }
  #divLinks > a {
    box-shadow: 0px 3vw 5vw 0px black;
    padding: 3vw 5vw;
    z-index: 1;
    display: none;
    background-color: var(--box-color);
    width: 50%;
    margin: 0% 25%;
  }
  #btnHome { 
    display: block;
    text-align: center;
    width: 100%;
    padding: 1% 0%;
  }
  #divPages {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 4vw;
  }
  #txtDropDown { 
    position: relative;
    display: block;
    padding: 1% 0%;
  }
  .divFlex {
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 11vw;
  }
  .divFlex > div {
    width: 70%;
    margin: 0px 15%;
  }
  .txtCaption {
    color: rgb(112, 112, 112) !important;
    font-size: 3vw !important;
    text-align: center;
    font-family: georgia, serif !important;
    margin-top: 1%;
    margin-bottom: 5%;
    word-break: break-word;
  }
}
@media screen and (min-width: 700px) {
  #divMusic > img {
    width: 47.77px;
    position: absolute;
    top: 11.94px;
    right: 35.82px;
  }
  #divMusic > input {
    position: absolute;
    top: 65.67px;
    right: 47.76px;
    width: 17.91px;
    height: 17.91px;
  }
  #divSourcePlaceHolder {
    height: 60px;
  }
  #divSources > p {
    font-size: 1.5vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    line-height: 3.3vw;
  }
  #divSources > h1 {
    font-size: 2vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    margin-bottom: 1vw;
  }
  #txtSource {
    width: 100%;
    font-family: georgia, serif;
    font-size: 1.5vw;
    color: lightslategray;
    text-align: center;
    padding: 10px 0px;
    background-color: #131520;
    position: fixed;
    bottom: 0px;
  }
  .divFlex > div > p {
    font-size: 1.5vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    line-height: 1.8vw;
  }
  .divFlex > div > h1 {
    font-size: 2vw;
    color: rgb(29, 29, 29);
    text-align: center;
    font-family: georgia, serif;
    margin-bottom: 5px;
  }
  .txtCaption {
    color: rgb(112, 112, 112) !important;
    font-size: 1.5vw !important;
    text-align: center;
    font-family: georgia, serif !important;
    margin-top: 10px;
    word-break: break-word;
  }
  .divFlex {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }
  .divFlex > div {
    width: 46%;
    margin: 0px 2%;
  }
  .elementTop {
    display: inline-block;
    font-size: 20px;
    margin: 0vw;
  }
  #txtTitle {
    font-size: 40px;
    margin: 30px 70px 10px 100px;
  }
  #divLinks {
    position: absolute;
    margin-left: -13px;
  }
  #imgCatLogo {
    width: 50px;
    border-radius: 10%;
    margin: 14px 0px 0px 25px;
    position: fixed;
  }
  #divLinks > a {
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px black;
    padding: 12px 16px;
    z-index: 1;
    display: none;
    background-color: var(--box-color);
  }
  #btnHome { margin-right: 30px; }
  #divPages { display: inline-block; }
  #txtDropDown { position: relative; }
}
@media screen and (max-width: 599px) and (min-width: 440px) {
  #txtSource {
    font-size: 11px;
  }
}
@media screen and (min-width: 880px) {
  #txtSource {
    font-size: 13.2px;
  }
}